@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir/Vazir-Regular-UI.eot');
    src: url('/fonts/vazir/Vazir-Regular-UI.eot?#iefix') format('embedded-opentype'), url('/fonts/vazir/Vazir-Regular-UI.woff') format('woff'), url('/fonts/vazir/Vazir-Regular-UI.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir/Vazir-Bold-UI.eot');
    src: url('/fonts/vazir/Vazir-Bold-UI.eot?#iefix') format('embedded-opentype'), url('/fonts/vazir/Vazir-Bold-UI.woff') format('woff'), url('/fonts/vazir/Vazir-Bold-UI.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir/Vazir-Black-UI.eot');
    src: url('/fonts/vazir/Vazir-Black-UI.eot?#iefix') format('embedded-opentype'), url('/fonts/vazir/Vazir-Black-UI.woff') format('woff'), url('/fonts/vazir/Vazir-Black-UI.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir/Vazir-Light-UI.eot');
    src: url('/fonts/vazir/Vazir-Light-UI.eot?#iefix') format('embedded-opentype'), url('/fonts/vazir/Vazir-Light-UI.woff') format('woff'), url('/fonts/vazir/Vazir-Light-UI.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir/Vazir-Medium-UI-UI.eot');
    src: url('/fonts/vazir/Vazir-Medium-UI.eot?#iefix') format('embedded-opentype'), url('/fonts/vazir/Vazir-Medium-UI.woff') format('woff'), url('/fonts/vazir/Vazir-Medium-UI.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir/Vazir-Thin-UI.eot');
    src: url('/fonts/vazir/Vazir-Thin-UI.eot?#iefix') format('embedded-opentype'), url('/fonts/vazir/Vazir-Thin-UI.woff') format('woff'), url('/fonts/vazir/Vazir-Thin-UI.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
}
